Django~=4.2.0
gunicorn~=21.2.0
whitenoise~=6.5.0
tensorflow~=2.17.0
numpy~=1.26.0
typer~=0.9.0
python-decouple~=3.8

keras
matplotlib
twine

pandas
yfinance
pandas-ta
scikit-learn

# python setup.py sdist bdist_wheel
# pip install dist/gpbacay_arcane-1.0.0-py3-none-any.whl --force-reinstall
# twine upload dist/*

# pip install gpbacay-arcane --upgrade --force-reinstall